#fyeuk {
    height: 20px;
    margin: 10px auto;
    text-align: center;
    position: relative;
    display: inline-block;
    left: 50%;
}

.clear {
    clear: both;
}

#fyeuk > div {
    height: 20px;
    float: left;
}

#xyiz {
    text-align: center;
    margin-left: 42px;
    margin-right: 42px;
}

.fol_a2 {
    position: absolute;
    left: 93%;
    top: 0px;
    display: block;
    height: 100%;
    width: 30px;
    text-decoration: none;
    border: solid 1px #1f80d8;
    text-align: center;
    line-height: 20px;
    border-radius: 4px;
}

.fol_a1 {
    position: absolute;
    right: 93%;
    display: block;
    height: 100%;
    width: 30px;
    text-decoration: none;
    border: solid 1px #1f80d8;
    text-align: center;
    line-height: 20px;
    border-radius: 4px;
}

#xyiz > a {
    display: block;
    float: left;
    width: auto;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    line-height: 20px;
}

.bia {
    text-decoration: underline;
    color: #000000;
}

.bia2 {
    text-decoration: none;
}
